.navbar a {
  color: white !important;
}
.StripeBackground {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    transform: skewY(-12deg);
    pointer-events: none;
    height: 250px;
}

.StripeBackground .stripe {
  position:absolute;top:auto;left:0;right:0
}

.stripes-header{bottom:-187px}

.stripes-header .stripe {
    height: 204px;
}

@media (min-width:420px){
  .stripes-header{bottom:-87px}
}
@media (min-width:670px){
  .stripes-header{bottom:-117px}
}
.stripes-header .stripe{height:204px}
.stripes-header .s0{
  height:5000px;bottom:203px;background:linear-gradient(90deg,#6fa8ef,#5a65db)
}
.stripes-header .s1{
  bottom:0;right:0;background:linear-gradient(90deg,#fff 50%,#f1f4f7)
}
@media (min-width:420px){
  .stripes-header .s1{
    right:calc(50% - 150px)
  }
}
@media (min-width:670px){
  .stripes-header .s1{right:calc(50% - 30px)}
}
.stripes-header .s2{
  bottom:0;left:100%;background:linear-gradient(90deg,#f6a4eb,#555abf)
}
@media (min-width:420px){
  .stripes-header .s2{left:calc(50% + 150px)}
}
@media (min-width:670px){
  .stripes-header .s2{
    left:calc(50% + 30px)
  }
}
.stripes-header .s3{
  bottom:204px;left:75%;background:linear-gradient(90deg,#6788ea,#68bcf7)
}
.stripes-header .s4{
  bottom:408px;left:calc(50% + 410px);background:linear-gradient(90deg,rgba(86,88,199,.35),#5658c7)

}
.stripes-header .s5{
  bottom:612px;right:30%;background:linear-gradient(90deg,#6a8dea,rgba(106,141,234,0))
}
.stripes-header .s6{bottom:816px;background:#6772e5}