<div class="main-container">
  <header class="header-4">
    <div class="branding">
        <a (click)="toggleActive(0)" [routerLink]="['']" class="nav-link">
            <span class="title">Fransförlängningar</span>
        </a>
    </div>
    <div class="header-nav">
        <a (click)="toggleActive(1)" [routerLink]="['customers']" [ngClass]="{'active': activeLink === 1, 'nav-link': true}"><span class="nav-text">Kunder</span></a>
        <a (click)="toggleActive(2)" [routerLink]="['appointments']" [ngClass]="{'active': activeLink === 2, 'nav-link': true}"><span class="nav-text">Bokningar</span></a>
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </header>

    <router-outlet></router-outlet>
</div>
